$dark-color: #010203;
$light-color: #ffffff;
$primary-light-color: #f5f5f7;
// $login-dark-color:#000;
$login-dark-color:#111;
$login-signup-link-color:#3498db;
$login-form-color:#010203 ;



@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");