@import "config";
@import "boilerplate";
@import "bodyShop";
@import "login";
@import "allProducts";
@import "cart";
@import "profile";
@import "showItem";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}
html {
  position: relative;
  min-height: 100%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import "mobile";
