<!-- For Success FLASH -->
<% if(success && success.length){ %>
    <div class="flash-main-container success">
        <div class="flash-body-container success-container">
            <%= success %>
        </div>
    </div>
    <% } %>

        <!-- For ERROR FLASH -->

        <% if(error && error.length){ %>
            <div class="flash-main-container error">
                <div class="flash-body-container error-container">
                    <%= error %>
                </div>
            </div>
            <% } %>