<%- layout('/boilerplate/boilerplate') %>
    <div class="error-main-container">
        <div class="error-body-container">
            <%=err.message %>
            <% if (process.env.NODE_ENV !=="production" ) { %>
                <p>
                    <%= err.stack %>
                </p>
                <% } %>
        </div>
    </div>