<link rel="stylesheet" href="stylesheets/login.css">
<%- layout('/boilerplate/boilerplate') %>

<div class="login-main-container">
    <form action="" method="POST">
        <div class="login-form-container">
            <h2>Login</h2>
            <div class="form-control">
                <label for="username">Username</label>
                <input type="text" name="" id="username" required autofocus>
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="text" name="" id="password" required>
            </div>
            <button>Login</button>
        </div>
    </form>
</div>