<%- layout('/boilerplate/boilerplate') %>

    <div class="login-main-container">
        <form action="/user/login" method="POST">
            <div class="login-form-container">
                <h2>Login</h2>
                <div class="form-control">
                    <span><i class="fas fa-user"></i></span>
                    <input type="text" name="username" id="username" placeholder="Username" required autofocus
                        autocomplete="off">
                </div>
                <div class="form-control">
                    <span><i class="fas fa-lock"></i></span>
                    <input type="password" name="password" id="password" placeholder="Password" required
                        autocomplete="off">
                </div>
                <p>Don't have an account? <a href="./register">Sign up instead!</a></p>
                <button>Login</button>
            </div>
        </form>
    </div>