.checkout-main-container {
  height: calc(100vh - 130px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout-body-container {
  height: auto;
  width: 25%;
  border: 1px solid salmon;
  padding: 2rem;
}
.checkout-input {
  min-height: 50px;
  margin: 1.4rem auto;
  border: 1px solid wheat;
}
.checkout-input label {
  display: block;
  font-size: 17px;
  font-weight: 500;
}
.checkout-input input {
  width: 100%;
  height: 35px;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 6px;
}
.checkout-buy {
  width: 30%;
  height: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  background-color: #019c5e;
  cursor: pointer;
  border: none;

  transition: all 0.2s ease-in;
}
.checkout-buy:hover {
  color: #eee;
  transform: scale(1.1);
}
.checkout-buy:hover::after{
    content: '!';
    transition: all 0.2s ease-in;
}
.checkout:focus {
  outline: none;
}
