.error-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.error-body-container {
  min-height: 70px;
  width: calc(50vw - 50px);
  /* width: 600px; */
  margin-top: 8rem;
  background-color: #ffcccb;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border: 1px solid #f7a8a6;
}
