@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
footer {
  background-color: #010203;
  margin-top: auto;
  color: #ffffff;
  min-height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-header {
  min-height: auto;
  padding: 1.4rem 0 1.4rem 1.4rem;
  background-color: #010203;
  font-family: "EB Garamond", serif;
}

.navbar-header a {
  text-decoration: none;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 20px;
}

.navbar-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-header nav .nav-links {
  display: flex;
  list-style: none;
  width: 25%;
  justify-content: space-around;
}

.navbar-header nav .burger {
  display: none;
}

.navbar-header nav .burger div {
  width: 22px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.4s ease;
}

.navbar-header nav .toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.navbar-header nav .toggle .line2 {
  opacity: 0;
}

.navbar-header nav .toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.navbar-header .nav-active {
  transform: translateX(0%);
  color: #ffffff;
  z-index: 9999;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.pageContentWrapper {
  flex-grow: 1;
  background-color: #f5f5f7;
  position: relative;
}

.flash-main-container {
  display: flex;
  align-items: center;
}

.success {
  margin-left: 2rem;
}

.error {
  justify-content: center;
}

.flash-body-container {
  min-height: 40px;
  width: calc(35vw - 50px);
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  font-family: "EB Garamond", serif;
  top: 30px;
  padding: 0 15px;
}

.success-container {
  background-color: #010203;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-top: -10px;
}

.error-container {
  border: 1px solid #f5f5f7;
  background-color: #111;
  color: #f5f5f7;
}

.flash-main-container span i {
  color: #ffffff;
  cursor: pointer;
}

.flash-main-container span i:hover {
  color: #cccccc;
  cursor: pointer;
}

.flash-btn-close {
  display: none;
}

.login-main-container {
  min-height: 84.3vh;
  display: flex;
  justify-content: center;
  background-color: #111;
  border-top: 1px solid rgba(58, 71, 82, 0.98);
  border-bottom: 1px solid rgba(58, 71, 82, 0.98);
}

.login-main-container form {
  width: 25%;
}

.login-main-container form .login-form-container {
  min-height: 50%;
  width: 100%;
  margin-top: 100px;
  background-color: #010203;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: rgba(58, 71, 82, 0.48) 3px 2px 8px 0px, rgba(255, 255, 255, 0.062) -6px -2px 8px 0px;
  color: #ffffff;
  font-family: "EB Garamond", serif;
}

.login-main-container form .login-form-container h2 {
  text-align: center;
  padding: 15px 0 0 0;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 1.8px;
}

.login-main-container form .login-form-container .form-control {
  height: 70px;
  width: 100%;
  margin: 50px 0;
  display: flex;
  align-items: center;
  position: relative;
}

.login-main-container form .login-form-container .form-control input {
  height: 80%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #111;
  color: #ffffff;
  padding-left: 48px;
  border-radius: 3px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -3px -3px 7px rgba(255, 255, 255, 0.05);
}

.login-main-container form .login-form-container .form-control input:focus {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5), inset -1px -1px 2px rgba(255, 255, 255, 0.05);
}

.login-main-container form .login-form-container .form-control input::placeholder {
  font-size: 18px;
}

.login-main-container form .login-form-container .form-control span {
  position: absolute;
  left: 20px;
}

.login-main-container form .login-form-container p {
  text-align: left;
  margin: -20px 0 20px;
  font-size: 17px;
}

.login-main-container form .login-form-container p a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.2s ease;
}

.login-main-container form .login-form-container p a:hover {
  text-decoration: underline;
  color: #1d6fa5;
}

.login-main-container form .login-form-container button {
  margin: 15px 0;
  width: 100%;
  height: 50px;
  font-size: 18px;
  background: #131419;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  letter-spacing: 1.3px;
  font-weight: 600;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -3px -3px 7px rgba(255, 255, 255, 0.05);
}

.login-main-container form .login-form-container button:focus {
  color: #3498db;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -3px -3px 7px rgba(255, 255, 255, 0.05);
}

.main-container {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
}

.main-container .card-container {
  height: 500px;
  width: 350px;
  margin: 15px;
  font-family: "EB Garamond", serif;
  position: relative;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.main-container .card-container .product-image {
  text-align: center;
  height: 350px;
  width: 350px;
}

.main-container .card-container .product-image img {
  width: 60%;
  object-fit: contain;
}

.main-container .card-container a {
  text-decoration: none;
  letter-spacing: 1.5px;
  color: #010203;
}

.main-container .card-container .product-title {
  margin: 1rem 0 0 10px;
  font-weight: 600;
  font-size: 18px;
}

.main-container .card-container .product-price {
  margin: 0.5rem 0 0 10px;
  font-weight: 600;
  font-size: 18px;
}

.main-container .card-container .index-add-to-cart {
  background-color: #010203;
  color: #f5f5f7;
  display: block;
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 2px;
  text-align: center;
  line-height: 50px;
}

.cart-main-container {
  height: calc(100vh - 130px);
  width: 100%;
  display: flex;
  font-family: "EB Garamond", serif;
}

.left-body-container {
  height: 100%;
  width: 70%;
  padding: 1.5rem;
}

#myBag {
  font-size: 30px;
  font-weight: 700;
  padding: 1rem;
}

#borderBottom {
  width: 90%;
  margin-top: 23px;
  border-bottom: 1px solid #eee;
}

.right-body-container {
  height: 100%;
  width: 30%;
  padding: 1.5rem;
}

.cart-body-container {
  padding: 1rem;
  display: flex;
}

.cart-list {
  list-style: none;
}

.left-img-cart-body {
  height: 230px;
  width: 240px;
}

.left-img-cart-body img {
  height: 210px;
  width: 200px;
}

#cart-item-price {
  font-size: 26px;
  font-weight: 500;
}

#cart-item-title {
  font-weight: 400;
  padding: 1rem 0;
  word-wrap: break-word;
}

#cart-item-quantity {
  font-weight: 500;
}

.right-cart-detail-body {
  width: 75%;
  padding: 0.2rem 0 0 2rem;
}

.right-body-container strong {
  font-size: 30px;
  padding: 1rem 1rem 0;
  display: block;
}

.left-subtotal {
  font-size: 19px;
  font-weight: 500;
  padding: 1rem;
}

#subtotalPrice {
  float: right;
}

.total {
  border-top: 1px solid #eee;
  border-bottom: 2px solid #eee;
}

.checkout img {
  height: 70px;
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.checkoutBtn {
  height: 45px;
  width: 100%;
  text-transform: uppercase;
  background-color: #010203;
  border: none;
  color: #f5f5f7;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  font-size: 18px;
  border-radius: 4px;
}

.checkoutBtn span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.checkoutBtn span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.checkoutBtn:hover span {
  padding-right: 25px;
  color: #f5f5f7;
}

.checkoutBtn:hover span::after {
  opacity: 1;
  right: 0;
}

.checkoutBtn:focus {
  outline: none;
}

.cart-body-container-empty {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

span h1 {
  font-size: 34px;
  padding: 1rem 3rem;
}

.orders-body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.orders-body-container h2 {
  margin-top: 10px;
  font-size: 26px;
}

.orders-body-container .orders-main-container {
  width: 40%;
}

.orders-body-container .orders-main-container li {
  list-style: none;
}

.orders-body-container .orders-main-container .list-container {
  border: 1px solid black;
  height: auto;
  padding: 1.4rem;
  line-height: 40px;
  margin: 1rem 0;
}

.orders-body-container .orders-main-container .list-container .order-title {
  font-weight: 500;
}

.orders-body-container .orders-main-container .list-container .order-totalprice {
  border-top: 1px solid #afadad;
  font-weight: bolder;
  text-align: right;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

html {
  position: relative;
  min-height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    min-width: 40%;
  }
  .login-main-container {
    min-height: 85.2vh;
  }
  .login-main-container form {
    width: 40%;
  }
  .login-main-container form .login-form-container {
    padding: 20px 30px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1266px) {
  .login-main-container {
    min-height: 87vh;
  }
  .login-main-container form {
    width: 40%;
  }
  .login-main-container form .login-form-container {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    background-color: #010203;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .navbar-header nav .burger {
    display: block;
    cursor: pointer;
  }
  .login-main-container form {
    width: 80%;
  }
  .login-main-container form .login-form-container {
    padding: 20px 10px;
  }
  .orders-body-container .orders-main-container {
    width: 80%;
  }
}
