@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
footer {
  background-color: #010203;
  margin-top: auto;
  color: #ffffff;
  min-height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-header {
  min-height: auto;
  padding: 1.4rem 0 1.4rem 1.4rem;
  background-color: #010203;
  font-family: "EB Garamond", serif;
}

.navbar-header a {
  text-decoration: none;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 20px;
}

.navbar-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-header nav .nav-links {
  display: flex;
  list-style: none;
  width: 25%;
  justify-content: space-around;
}

.navbar-header nav .burger {
  display: none;
}

.navbar-header nav .burger div {
  width: 22px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.4s ease;
}

.navbar-header nav .toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.navbar-header nav .toggle .line2 {
  opacity: 0;
}

.navbar-header nav .toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.navbar-header .nav-active {
  transform: translateX(0%);
  color: #ffffff;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.login-main-container {
  border: 1px solid red;
  min-height: 60vh;
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.login-main-container form {
  width: 25%;
}

.login-main-container form .login-form-container {
  border: 1px solid powderblue;
  min-height: 100%;
  width: 100%;
  font-family: "EB Garamond", serif;
}

.login-main-container form .login-form-container h2 {
  text-align: center;
  padding: 15px 0 0 0;
  font-size: 28px;
}

.login-main-container form .login-form-container .form-control {
  border: 1px solid thistle;
  min-height: 50px;
  margin: 30px 0;
  padding: 15px 0;
}

.login-main-container form .login-form-container .form-control label {
  display: block;
  font-size: 20px;
}

.login-main-container form .login-form-container .form-control input {
  width: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  position: relative;
  min-height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    min-width: 40%;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    background-color: #010203;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .navbar-header nav .burger {
    display: block;
    cursor: pointer;
  }
}
