<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/error.css">
    <link rel="stylesheet" href="/stylesheets/flash.css">
    <link rel="stylesheet" href="/stylesheets/showItem.css">
</head>

<body>
    <nav>
        <div class="container">
            <a href="#home">Walmart</a>
            <a href="/index">Cart</a>
            <% if(!currentUser) {%>
                <a href="/user/register">Sign Up</a>
                <a href="/user/login">Login</a>
                <% } else {%>
                    <a href="/user/logout">Logout</a>
                    <% } %>
        </div>
    </nav>
    <%- include('../partials/flash') %>
        <%- body %>
            <footer>
                <div class="container">
                    <span>&copy; Walmart 2021 </span>
                </div>
            </footer>

</body>

</html>